<tr>
  <td class="thing">
    <span class="image"><%= image_tag thing.photo.url(:thumb) %></span>
	<span class="name"><%= link_to thing.name %></span><br />
	<span class="price">$<%= thing.price %></span><br />
	<span class="description"><%= thing.description %></span><br />
	<span class="timestamp">
      Posted <%= time_ago_in_words(thing.created_at) %> ago.
    </span><br />
	<% user = thing.user rescue User.find(thing.user_id) %>
	<% if current_user?(user) %>	
		<span class="edit-delete">
			<%= link_to "Edit", edit_thing_path(thing) %> |
			<%= link_to "Destroy", thing, :confirm => 'Are you sure?',
										  :method => :delete,
										  :title => thing %>
		</span>
	<% end %>
  </td>
</tr>