<h1>Listing things</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Categories</th>
    <th>Description</th>
    <th>Price</th>
    <th>Borrow</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%= thing.name %></td>
    <td><%= thing.categories %></td>
    <td><%= thing.description %></td>
    <td><%= thing.price %></td>
    <td><%= thing.borrow %></td>
    <td><%= thing.user_id %></td>
    <td><%= link_to 'Show', thing %></td>
    <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
    <td><%= link_to 'Destroy', thing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thing', new_thing_path %>
