<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to "Upload stuff!", newthing_path, :class => "signup_button round" %>

<% unless @user.things.empty? %>
    <table class="things" summary="User things">
      <%= render @things %>
    </table>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %>
